.modal-xl {
    max-width: 1100px !important;
}

#branchModal .form-label {
    font-weight: 600;
}

.type-bottle, .type-machine {
    display: none;
}

/* Make long vendor names wrap nicely */
.select2-selection__rendered {
    white-space: normal !important;
    line-height: 1.3 !important;
}
